* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

aside {
    flex: 0 0 200px;
    height: 100vh;
    background-color: orange;
}

.container-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    /* flex: 1 0; */
    height: 80px;
    background-color: #e22bce;
}

main {
    height: 500px;
    background-color: blue;
}
